---
title: TamperMonkey UserScripts
date: 2014-08-09
tags: projects
---

<h1>TamperMonkey Scripts</h1>

<br />
<div class="row">
  <div class="col-sm-3 text-center">
    Paranoia | BlueBird 
    <br />
    <a href="paranoia_bluebird.user.js">Download</a>
  </div>
  <div class="col-sm-9">
    <div>
      This is just something that I worked on the other night, a
      userscript, that alters the security answer form
      for American Express Bluebird, from a cleartext input box into a
      password input box. It's not anything fancy, but fixes an annoyance that
      I didn't want to live with.
    </div>
    <% code("javascript") do %>
<%= File.read("source/projects/paranoia_bluebird.user.js") %>
    <% end %>
  </div>
</div>
