<div class="well">
  <h4>Projects</h4>
  <ul class="list-unstyled">
    <li><%= link_to "TamperMonkey UserScripts", "/projects/tampermonkey.html" %>
  </ul>
</div>
<div class="well">
  <h4>Recent Articles</h4>
  <dl class="list-unstyled article-list">
  <% blog.articles[0...10].each do |article| -%>
    <dt title="<%=article.date.strftime("%Y-%m-%d %H:%M")%>"><%= time_ago_in_words(article.date) %> ago</dt>
    <dd><%= link_to article.title, article %></dd>
  <% end -%>
  </dl>
</div>
