---
title: About Me
date: 2014-08-10
---
<p>
Orien Vandenbergh is a Systems Administrator for Lockheed Martin, who has done everything with computers from SEO to VoIP.  You can find him on on <a rel="author" href="https://plus.google.com/+OrienVandenbergh?rel=author">Google+</a>, <a href="http://www.facebook.com/orien.vandenbergh">Facebook</a>, <a href="http://github.com/nichus">GitHub</a> and <a href="http://twitter.com/nichus">Twitter</a>, though he is pretty boring.  Presently, most of his focus, outside of work, focuses on raising his three beautiful children.
</p>

<div class="g-person" data-href="https://plus.google.com/+OrienVandenbergh" data-layout="landscape" data-showcoverphoto="false" data-width="300"></div>
