---
title: About Me
date: 2015-01-22
---

<img src="/images/i_r_a_pirate.png" style="float: right" />

<p>
Hello there, and welcome to little niche of the vast and wonderous internet.  My name is Orien Vandenbergh, and I've been working with the Internet and it's various technologies since the mid 90s. Through the course of those years, I've done software development, web development, systems administration, voice over IP, and even SEO.  Currently, I am a CISSP certified Systems Administration working for Lockheed Martin and living outside of beautiful Boulder Colorado.
</p>

<p>
Here on <a href="//icebergh.us">icebergh.us</a>, I share whatever projects I might work on in my spare time, and occasionally write about the things that interest me. Hopefully, some of what I share proves useful to others. I've restarted this website on many occasions, and this most recent restart will take some time to refill with content, but among the many topics I've covered in the part are my family, software development, games, homebrewing, running, or even possibly my often sidelined interest in stogies.  It's tough to tell.
</p>

<p>
If you would like to get ahold of me, there are a number of sites (technical or otherwise) upon which I can be found, including <a rel="author" href="https://plus.google.com/+OrienVandenbergh?rel=author">Google+</a>, <a href="https://www.linkedin.com/in/orien">LinkedIn</a>, <a href="http://www.facebook.com/orien.vandenbergh">Facebook</a>, <a href="https://reddit.com/u/qi3ber">Reddit</a>, <a href="http://github.com/nichus">GitHub</a> and <a href="http://twitter.com/nichus">Twitter</a>.
</p>
